find the maximum numbers

In [1]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_two(5, 7))
print(max_of_three(3, 6, -5))

7
6

sum of numbers

In [2]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8, 2, 3, 0, 7)))

20

Multiplying numbers

In [3]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((8, 2, 3, -1, 7)))

-336

Reverse of a String

In [4]:
def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string_reverse('1234abcd'))

dcba4321

Factorial of a number

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 3
6

using range to check whether a number in in the given range

In [6]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

 5 is in the range

function inside a function

In [8]:
def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add
func= test(4)
print(func(4))

9

make palindrom function

In [10]:
def isPalindrome(string):
	left_pos = 0
	right_pos = len(string) - 1
	
	while right_pos >= left_pos:
		if not string[left_pos] == string[right_pos]:
			return False
		left_pos += 1
		right_pos -= 1
	return True
print(isPalindrome('aza'))
print(isPalindrome('madam'))
print(isPalindrome('komal'))

True
True
False

check if the number is even

In [11]:
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

Print distinct element from the list

In [12]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

Class and object implementation

In [13]:
class employee:
   def __init__(self,a,b,c):
       self.id=a
       self.name=b
       self.salary=c
   def display(self):
       print("Employee id is= ",self.id)
       print("Employee name is= ",self.name)
       print("Employee salary is= ",self.salary)
#create the object/instance of the class       
e1=employee(102,'Ram',30000)
e1.display()

Employee id is=  102
Employee name is=  Ram
Employee salary is=  30000

In [14]:
class Car:

    # class attribute
    wheels = 4

    # initializer / instance attributes
    def __init__(self, color, style):
        self.color = color
        self.style = style

    # method 1
    def showDescription(self):
        print("This car is a", self.color, self.style)

    # method 2
    def changeColor(self, color):
        self.color = color

c = Car('Black', 'Sedan')

# call method 1
c.showDescription()
# Prints This car is a Black Sedan

# call method 2 and set color
c.changeColor('White')

c.showDescription()
# Prints This car is a White Sedan

This car is a Black Sedan
This car is a White Sedan

In [15]:
class Fruit:
    def __init__(self, name, color):
        self.name = name
        self.color = color

    def show(self):
        print("Fruit is", self.name, "and Color is", self.color)

# creating object of the class
obj = Fruit("Apple", "red")

# Modifying Object Properties
obj.name = "strawberry"

# calling the instance method using the object obj
obj.show()
# Output Fruit is strawberry and Color is red

Fruit is strawberry and Color is red

Deleting an object property

In [2]:
class Fruit:
    def __init__(self, name, color):
        self.name = name
        self.color = color

    def show(self):
        print("Fruit is", self.name, "and Color is", self.color)

# creating object of the class
obj = Fruit("Apple", "red")

# Deleting Object Properties
del obj.name

# Accessing object properties after deleting
print(obj.name)
# Output: AttributeError: 'Fruit' object has no attribute 'name'

AttributeError: 'Fruit' object has no attribute 'name'

In [1]:
class Employee:
    depatment = "IT"
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def show(self):
        print("Department is ", self.depatment)
        print("Name is ", self.name)
        print("Age is ", self.age)

emp1 = Employee('komal', 23)
emp1.show()
emp2 = Employee('Savera', 16)
emp2.show()

# delete object
del emp1

# Accessing after delete object
emp1.show()
# Output : NameError: name 'emp' is not defined

Department is  IT
Name is  komal
Age is  23
Department is  IT
Name is  Savera
Age is  16

NameError: name 'emp1' is not defined

In [ ]:
#Task 01 lab 3

In [16]:
class Triangle:
    def __init__(self, angle1, angle2,angle3):
        self.angle1 = angle1
        self.angle2 = angle2
        self.angle3 = angle3


    def check_angles(self):
        sum = self.angle1 + self.angle2 + self.angle3;
        if sum == 180:
            return "true"
        return "false"

    
number_of_sides = 3

my_triangle = Triangle(90,30,60)

print('my_triangle.number_of_sides:\n',number_of_sides,"my_triangle.check_angles:\n",my_triangle.check_angles())

my_triangle.number_of_sides:
 3 my_triangle.check_angles:
 true

In [23]:
from math import sqrt
print('Square root of 13689 is: ',sqrt(13689))

Square root of 13689 is:  117.0

In [34]:
def cube(number):
    return number * number * number

def by_three(number):
    if number % 3 == 0:
        return cube(number)
    return 'false'
num = 7
obj = by_three(num)

if obj != 'false':
    print('the cube of the ',num,' is : ',obj)
else:
    print('number is not divisible by 3')

number is not divisible by 3