Variable

In [1]:
x = 123456
y = "Komal chohan"
print(x)
print(y)

123456
Komal chohan

The Type of the variable

In [2]:
x = 123456
y = "Komal Chohan"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes

In [5]:
x = "Komal Chohan"
# is the same as
y = 'Komal Chohan'
print(x)
print(type(x))
print(y)
print(type(y))

Komal Chohan
<class 'str'>
Komal Chohan
<class 'str'>

Reserved Words

In [6]:
for = 3

SyntaxError: ignored

There are three numeric types in Python:

int
float
complex

In [9]:
x = 134  
y = 3.8
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>
<class 'complex'>

Complex numbers are written with a "j" as the imaginary part:

In [10]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Boolean Values

In [13]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

Operator

In [14]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [15]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

Logical Operators

AND operator

In [17]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

OR Operator

In [16]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

NOT Operator

In [18]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False