In [1]:
#find the maximum of two numbers

def max_of_two(x,y):
    if x > y:
        return x
    return y
def max_of_three(x,y,z):
    return max_of_two(x,max_of_two(y,z))

print(max_of_two(2,7))
print(max_of_three(-4,2,6))

7
6

In [2]:
def factorial(n):
    if n == 0:
        return 1
    else:
        reurn n * factorial (n-1)
n=int(input('Enter a number:'))

SyntaxError: invalid syntax (3465615144.py, line 5)

In [ ]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total 
print(sum((8,2,3,0,7)))

In [ ]:
def string_reverse(str1):
    restr1 = ''
    index = len(str1)
    while index > 0:
        restr1 +=str1[index - 1]
        index = index - 1
    return restr1
print(string_reverse('abcdefghij'))

In [ ]:
def test_range(n):
    if n in range(3,9):
        print('%s is in the range '%str(n))
    else:
        print('the number is outside given range')
test_range(5)

In [ ]:
def test(a):
    def add(b):
            nonlocal a
            a += 1
            return a+b
    return add
func = test(4)
print (func(4))

In [ ]:
class employee:
    def __init__(self,a,b,c):
        self .id=a
        self .name=b
        self .salary=c
    def display(self):
        print("id is ",self.id)
        print("name is ",self.name)
        print("salary is ",self.salary)
    a=employee(1402,"ahmed",1000000000000)
    a.display()

In [ ]:
class fruit:
    def __init__(self,name,color):
        self.name= name
        self.color=color
    def display(self):
        print("Fruit is",self.name," and the color is",self.color)
obj=fruit("apple","red")
#del obj.name
obj.display()

In [ ]:
class car:
    def __init__(self,brand,model,color):
        self.brand=brand
        self.model=model
        self.color=color
    def display(self):
        print("Car is ",self.brand,"model no is ",self.model,'color',self.color)
a=input()
b=input()
c=input()
obj=car(a,b,c)
obj.display()

In [ ]:
# Reversing a tuple using slicing technique
# New tuple is created
def Reverse(tuples):
	new_tup = tuples[::+1]
	return new_tup
	
# Driver Code
tuples = (1,2,5,6,4,97,34,5,6,7,6,3)
print(Reverse(tuples))

In [ ]:
#sorts list in acending order 
prime_numbers = [4,7,2,1,9,0]

prime_numbers.sort()

print(prime_numbers)

In [ ]:
#sorts list in decending order 
prime_numbers = [4,7,2,1,9,0]

prime_numbers.sort(reverse=True)

print(prime_numbers)

In [ ]:
#acending order sorting dictionary
Dict = {4: 'Zealux', 2: 'Axis', 3: 'Jax' , 1:"somoa"}

 # Sort by key
sorts = (sorted(Dict.items()))
print(sorts)

 # Sort by value
sorts_item =  dict(sorted(Dict.items(), key=lambda item: item[1]))
print(sorts_item)

In [ ]:
from collections import OrderedDict

#decending order sorting dictionary
Dict = {1: 'Zealux', 2: 'Axis', 3: 'Jax' , 4:"somoa"}

# printing original dictionary
print("The original dictionary : " + str(Dict))
res =dict(reversed(list(Dict.items())))
  
# printing reversed order dictionary
print("The reversed order dictionary : " + str(res))

In [23]:
def pypart(n):
      
    # outer loop to handle number of rows
    # n in this case
    for i in range(0, n):
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
          
            # printing stars
            print("* ",end="")
       
        # ending line after each row
        print("\r")
  
n = 5
pypart(n)

*
* *
* * *
* * * *
* * * * *

In [22]:
n = 5
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1  # decrementing m after each loop  
    for j in range(0, i + 1):  
        
        # printing full Triangle pyramid using stars  
        print("* ", end=' ')  
        
    print(" ")

        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

In [24]:
#Table of 24

num = 24

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

In [25]:
#Table of 50

num = 24

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

In [26]:
#Table of 50

num = 29

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

29 x 1 = 29
29 x 2 = 58
29 x 3 = 87
29 x 4 = 116
29 x 5 = 145
29 x 6 = 174
29 x 7 = 203
29 x 8 = 232
29 x 9 = 261
29 x 10 = 290

In [28]:
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')

0 1 2 4 5

In [32]:
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

In [36]:
n = 4
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(tuplex)
#pass value want to search as a duplicate in the tuple
count = tuplex.count(n)
print('item',n ,'appears : ' ,count,' times')

(2, 4, 5, 6, 2, 3, 4, 4, 7)
item 4 appears :  3  times

In [37]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]